/* reset základního stylu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:0px solid black;
}
body {
    box-sizing: border-box;
    overflow: hidden;
}
#hlavniPlocha {
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.096);
    display: block;
    justify-content: center;
    align-items: center;
}
#background_image{
    position: absolute;
    width: 100%;
    height: 70vh;
    z-index: -1;
}


#karetniPlocha {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
#kartniPlocha_img{
    position: absolute;
    width: 100%;
    height:50%;
    z-index: -1;
    bottom:0;
}
#polickoSkastami{
    z-index: 4;
    box-sizing: border-box;
    bottom: -30%;
    position: absolute;
    padding: 0;
    max-width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}
#polickoSkastami:hover{
    scale: calc(1.2);
    bottom: 5%;

}

.Karta {
    object-fit: fill;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    top: 10%;
    width: 40%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin: 0 10px;
}

#polickoPostavy {
    cursor: pointer;
    position: fixed;
    width: 250px;
    height: 50%;
    top: 7%;
    justify-self: center;
}
#zdraviHrace {
    text-align: center;
    overflow: hidden;
    font-family: pixelify sans, sans-serif;
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    top: 66%;
    left: 3%;
    border-radius:45%;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 10, 10, 0.842);
    z-index: 2;
}
#zdraviHrcaeCislo{
    top: 40%;
    left: 40%;
    position: absolute;
    z-index: 3;
    font-size: 30px;
    color: black;
}
#zdraviPostavy {
    justify-self: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 25px;
    top: 0px;
    border-radius: 3px;
    border: 2px solid black;
    background-color: rgb(255, 0, 0);
}
#postavaName{
    justify-self: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 25px;
    top: 0px;
    border-radius: 3px;
}
.Vlk{
    top: 10%;
    left: -15%;
    width:130%;
    position: 
    relative;
    background-color: rgba(235, 1, 184, 0);

}
.Zlodej{
    max-height: 100%;
    bottom:0%;
    left: -30%;
    position: 
    relative;
    background-color: rgba(235, 1, 184, 0);
}
.Obr{
    max-height: 100%;
    top:0%;
    left: 0%;
    position: 
    relative;
    background-color: rgba(235, 1, 184, 0);
}
#gameOverMenu{
    text-align: center;
    font-family: pixelify sans, sans-serif;
    font-size: x-large;
    position: relative;
    top: 20%;
    justify-self: center;
    width: 250px;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.863);
    border: 3px solid black;
    border-radius: 10px;
}
#gameOverBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 5;
}
@media (max-width:600px) {
    #polickoSkastami{
        bottom: -15%;
        max-width: 60%;
        max-height: 300px;
    }
    #polickoSkastami:hover{
        bottom: 7%;
    }
    .Vlk{
        top: 40%;
        left: 10%;
        max-width: 90%;
    }

    .Zlodej{
        max-height: 70%;
        top:5%;
        left: 5%;
    }
    .Obr{
        max-height: 70%;
        top: 10%;
        left: 20%;

    }
    #zdraviHrace {
        min-width: 100px;
        min-height: 100px;
        top: 55%;
        left: 40%;
    }
    #zdraviHrcaeCislo{
        top : 30%;
        left: 30%;
    }
}
